# Compiled output
/CMS.Domain.All/bin
/CMS.Domain.All/obj
/CMS.Domain.All/debug
/CMS.Domain.Entities/bin
/CMS.Domain.Entities/obj
/CMS.Domain.Entities/debug
/CMS.Domain.Repositories/bin
/CMS.Domain.Repositories/obj
/CMS.Domain.Repositories/debug
/Tests/CMS.Domain.Tests/bin
/Tests/CMS.Domain.Tests/obj
/Tests/CMS.Domain.Tests/debug
/Tests/CMS.Domain.Repositories.Tests/bin
/Tests/CMS.Domain.Repositories.Tests/obj
/Tests/CMS.Domain.Repositories.Tests/debug

# IDE - VS
/.vs